[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
protobuf = "*"
numpy = "*"
mypy-protobuf = "*"
base58 = "*"
SQLAlchemy = "*"

[dev-packages]
coverage = "*"
pytest = "*"
black = "==19.3b0"
mypy-extensions = "*"
isort = "*"

[requires]
python_version = "3.7"
