[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
protobuf = "*"
numpy = "*"
pandas = "*"
SQLAlchemy = "*"
keras = "*"
tensorflow = "*"
scikit-learn = "*"
mypy-extensions = "*"
numba = "*"

[dev-packages]
coverage = "*"
pytest = "*"
black = "==19.3b0"
mypy = "*"
mypy-protobuf = "*"
isort = "*"
jupyterlab = "*"
altair = "*"
tabulate = "*"
matplotlib = "*"
seaborn = "*"
tqdm = "*"

[requires]
python_version = "3.7"
